<div class="place">
  <img class="img-circle" src="{{image}}" alt="{{placeName}}">
  <h2>{{placeName}}</h2>
  <div>Country: {{country}}</div>
  <div>Currency: {{currency}}</div>
  <div>Language: {{language}}</div>
  <div>Description: {{description}}</div>
  <a href="/places/{{placeName}}/edit">Edit</a>
</div>
