

<form class="form" action="/places/{{placeName}}/edit" method="post">
  <img class="img-circle" src="{{image}}" alt="{{name}}">

<h2 id="formPlaceName">{{placeName}}</h2>
  
  <label for="country" class="form-item">
    Country:
    <input type="text" name="country" value="{{country}}">
  </label>

  <label for="currency" class="form-item">
    Currency:
    <input type="text" name="currency" value="{{currency}}">
  </label>

  <label for="language" class="form-item">
    Language:
    <input type="text" name="language" value="{{language}}">
  </label>

  <label for="description" class="form-item">
    Description:
    <input type="text" name="description" value="{{description}}">
  </label>
  
  <input type="hidden" name="image" value="{{image}}">
  
  <input type="submit" name="" value="Submit">
</form>

<script src="../../public/styles.js"></script>
